h1{
    color:rgb(178, 136, 82);
    font-weight: 500;
}

#actualizar{
    margin-top: 20px;
    margin-left: 30px;
}

.card-image{
    margin-top: 15px;
}

#card-title{
    margin-left: 50px;
}

.brand-logo{
    margin-left: 50px;
}

#nav-mobile{
    margin-right: 10px;
}

.nav-wrapper{
    font-weight: 400;
}

#btn-reset{
    margin-top: 20px;
    margin-left: 45px;
}

#fieldset1{
    margin-right: 30px;
    margin-left: 30px;
}

#fieldset2{
    margin-right: 30px;
    margin-left: 30px;
}

#fieldset3{
    margin-right: 30px;
    margin-left: 30px;
}

#fieldset4{
    margin-right: 30px;
    margin-left: 30px;
}
