<header class="bg-dark text-white header-ipn pb-0 pt-3" id="header">
    <div class="container-fluid px-0 row d-flex  justify-content-center  m-0  pb-3">
      <div class=" col d-flex col-11 col-md-10 d-flex  flex-wrap align-items-center justify-content-between">
        <img src="../assets/logo-ipn-blanco.png" 
					alt="Logotipo del Instituto Politécnico Nacional"
					class="logo px-3 border-md-end " 
        >
        <div class="vr d-none d-md-inline"></div>
        <img id="logo-escom" src="../assets/logo-escom-blanco.png" 
					alt="Logotipo de la Escuela Superior de Cómputo"
          class="logo px-3" 
        >
        <div class="ms-auto order-last order-md-2 col-12 col-md-auto pb-0 pt-3 pt-md-0 text-center">
          Centros de Desarrollo Infantil
        </div>
        <img src="../assets/burrito-sin-f.png" 
					alt="Logotipo de Centro de Desarrollo Infantil"
          class="logo px-0 px-md-3 order-md-3"    
        >
      </div>
    </div>
   
    <nav class="navbar navbar-expand-lg navbar-ipn text-white p-0">
      <div class="container-fluid">
        
        <div class="d-md-none d-flex justify-content-between p-2 col-12 ">
          
            <button title="toggle menu" class="navbar-toggler custom-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
              <span class="navbar-toggler-icon custom-toggler"></span>
            </button>
            <a class="btn btn-outline-light ms-auto align-items-center" href="./login.html">  <i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión</a>
        </div>

        <div class="offcanvas offcanvas-start  text-white" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header offcanvas-ipn">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">CENDI</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body offcanvas-ipn navbar-ipn row justify-content-center">
            <div class="d-flex col-10">
                  <ul class="navbar-nav justify-content-start">
                    <li class="nav-item nav-item-ipn">
                      <a class="nav-link nav-ipn active" aria-current="page" href="./index.html">  
                        <i class="bi bi-home"></i>Inicio
                      </a>
                    </li>
                    <li class="nav-item nav-item-ipn d-flex align-items-center dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Servicios
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                        <li><a class="dropdown-item" href="./services/Medicina.html">Medicina</a></li>
                        <li><a class="dropdown-item" href="./services/Nutricion.html">Nutrición</a></li>
                        <li><a class="dropdown-item" href="./services/Odontologia.html">Odontología</a></li>
                        <li><a class="dropdown-item" href="./services/Pedagogia.html">Pedagogía</a></li>
                        <li><a class="dropdown-item" href="./services/Psicologia.html">Psicología</a></li>
                      </ul>
                    </li>
                    <li class="nav-item nav-item-ipn">
                      <a class="nav-link" href="./registro.html">Registro</a>
                    </li>
                    <li class="nav-item nav-item-ipn">
                      <a class="nav-link" href="./recuperar.php">Recuperar</a>
                    </li>
                  </ul>
              <div  class="ms-auto d-flex align-items-center" role="article"  id="btn_login" >
                <a class="btn btn-outline-light" href="./login.html" id="b_a"> <i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
		<script type="text/javascript" src="../js/header.js"></script>
  </header>

 
