<header class="bg-dark text-white header-ipn pb-0 pt-3">
    <div class="container-fluid px-0 row row-cols-3 justify-content-center">
      <div class=" col col-md-10 d-flex">
        <div class="flex-grow-1">
          <img src="../assets/logo-ipn-blanco.png" class="px-md-3 px-sm-1 mb-3 border-end" style="max-height: 75px;" alt="...">
          <img src="../assets/logo-escom-blanco.png" class="px-md-3 px-sm-1 mb-3" style="max-height: 75px;"  alt="...">
        </div>
        <div>
          <span>
            Centros de Desarrollo Infantil
          </span>
          <img src="../assets/burrito-sin-f.png" class="" style="max-height: 75px;"  alt="...">
        </div>
      </div>
    </div>
  
    <nav class="row row-cols-3 d-flex px-5 flex-wrap align-items-center justify-content-center navbar-ipn m-0">
      <div class="d-flex col-md-10 justify-content-center align-items-center">
        <ul class="nav col col-lg-auto me-lg-auto  mb-0">
            <li>
                <a href="./index.html" class="nav-link p-3 text-white">Inicio</a>
            </li>
            <li>
                <div class="dropdown">
                  <a class="nav-link dropdown-toggle text-white p-3" type="button" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Servicios
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="./Medicina.html">Medicina</a></li>
                    <li><a class="dropdown-item" href="./Nutricion.html">Nutricion</a></li>
                    <li><a class="dropdown-item" href="./Psicologia.html">Psicoligía</a></li>
                    <li><a class="dropdown-item" href="./Pedagogia.html">Pedagogía</a></li>
                  </ul>
                </div>
            </li>
            <li>
                <a href="./registro.html" class="nav-link p-3 text-white">Registro</a>
            </li>
            <li>
                <a href="./recuperarPDF.php" class="nav-link p-3 text-white">Recuperar</a>
            </li>
        </ul>
        <div class="text-end flex-shrink-1">
          <form class="">
            <a href="../front/login.html">
              <button type="button" class="btn btn-outline-light">Acceder</button>
            </a>
          </form>
        </div>
      </div>
    </nav>
  </header>