    <footer id="footer" class="row pt-5 mt-5 border-top m-0">
      <div class="col-sm-12 col-md-6">
        <h5 class="pl-5 pb-3 text-center">Instituto Politécnico Nacional</h5>
        <p class="text-center">
          D.R. Instituto Politécnico Nacional (IPN). Av. Luis Enrique Erro S/N, Unidad Profesional Adolfo López Mateos, Zacatenco, Alcaldía Gustavo A. Madero, C.P. 07738, Ciudad de México, 2019. Conmutador: 55 57 29 60 00 / 55 57 29 63 00.
        </p>
      </div>
      <!-- <div class="col-sm-0 col-md-1"></div> -->
  
      <div class="col-sm-5 col-md-2">
        <h5>Secciones</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="./inicio.html" class="nav-link p-0 text-muted">Inicio</a></li>
          <li class="nav-item mb-2"><a href="./registro.html" class="nav-link p-0 text-muted">Registro</a></li>
          <li class="nav-item mb-2"><a href="./recuperarPDF.html" class="nav-link p-0 text-muted">Recuperar</a></li>
        </ul>
      </div>
  
      <div class="col-sm-5 col-md-2">
        <h5>Servicios</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="./Nutricion.html" class="nav-link p-0 text-muted">Nutrición</a></li>
          <li class="nav-item mb-2"><a href="./Psicologia.html" class="nav-link p-0 text-muted">Psicoligía</a></li>
          <li class="nav-item mb-2"><a href="./Medicina.html" class="nav-link p-0 text-muted">Medicina</a></li>
          <li class="nav-item mb-2"><a href="./Pedagogia.html" class="nav-link p-0 text-muted">Pediatría</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>
  
      <div class="col-sm-12 col-md-2">
        <h5>Contactanos</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="https://www.facebook.com/Instituto-Politecnico-Nacional-45770218171" class="nav-link p-0 text-muted"><u>Facebook</u></a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-12 navbar-ipn py-3">
        <p class="text-white text-center">Derechos reservados &copy; ESCOM - 2022</p>
      </div>
    </footer>