<form action="../back/BD/RegistroBD.php" method="get" id="formulario"> 
    <fieldset id="general-section">
        <legend><h4 class="mt-4 mb-4">DATOS GENERALES</h6></legend>
        <div class="form-floating mb-3">
            <select  name="cendi" id="cendi" class="form-select" required>
                <option value="sel" disabled selected>Seleccione su CENDI</option>
                <option value="Amalia Solórzano de Cárdenas" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/IPN-Default.png">CENDI “Amalia Solórzano de Cárdenas” </option>
                <option value="Clementina Batalla de Bassols" disabled data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/IPN-Default.png">CENDI “Clementina Batalla de Bassols”</option>
                <option value="Eva Sámano de López Mateos" disabled data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/IPN-Default.png">CENDI “Eva Sámano de López Mateos”</option>
                <option value="Laura Pérez de Bátiz" disabled data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/IPN-Default.png">CENDI “Laura Pérez de Bátiz” </option>
                <option value="Margarita Salazar de Erro" disabled data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/IPN-Default.png">CENDI “Margarita Salazar de Erro”</option>
            </select>
            <label for="cendi">CENDI</label>
        </div>
        <div class="form-floating mb-3">
            <input  class="form-control" name="folio" id="folio" placeholder="aa" placeholder="aa" type="text">
            <label for="folio" class="form-label">Folio (Boleta)</label>
            <div class="invalid-feedback" >El folio debe tener 10 digitos o bien el formato PP o PE seguido de 8 numeros</div>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" name="grupo" id="grupo">
                <option value="sel" disabled selected>Seleccione grupo</option>
                <option value="Lac I-II">Lac I - II </option>
                <option value="Lac III - Mat I">Lac III - Mat I</option>
                <option value="Mat IIA">Mat IIA</option>
                <option value="Mat IIB">Mat IIB</option>
                <option value="PIA y PIB">PIA y PIB </option>
                <option value="PIIA y PIIB">PIIA y PIIB </option>
                <option value="PIIIA y PIIIB ">PIIIA y PIIIB </option>
            </select>
            <label for="grupo">Grupo</label> 
        </div>
    </fieldset>

    <!-- NINI@ -->
<fieldset id="infant-section">
    <legend><h5>DATOS DEL NIÑO O DE LA NIÑA</h5></legend>
    <div class="mb-3">
        <label for="n_foto">Fotografía</label>
        <input type="file" class="form-control" placeholder="aa" name="n_foto" id="n_foto" />
    </div>
    <div class="row">
        <div class="col mb-3">
            <div class="form-floating">
                <input class="form-control" name="n_apellido1" placeholder="Primer apellido" id="n_apellido1" placeholder="aa" type="text" >
                <label for="n_apellido1" >Primer Apellido</label>
                <div class="invalid-feedback" >Este campo sólo debe contener letras</div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="form-floating">
                <input class="form-control" name="n_apellido2" id="n_apellido2" placeholder="Segundo apellido" placeholder="aa" type="text">
                <label for="n_apellido2">Segundo Apellido</label>
                <div class="invalid-feedback" >Este campo sólo debe contener letras</div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="form-floating">
                <input class="form-control" name="n_nombre" id="n_nombre" placeholder="aa" placeholder="aa" type="text">
                <label for="n_nombre">Nombre(s)</label>
                <div class="invalid-feedback" >Este campo sólo debe contener letras</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="form-floating mb-3">
                <input class="form-control" name="n_fechaNacimiento" id="n_fechaNacimiento" placeholder="aa" type="date" class="datepicker">
                <label for="n_fechaNacimiento">Fecha de Nacimiento</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <input class="form-control disabled" name="n_edadAnnos" id="n_edadAnnos"  placeholder="aa" type="text" disabled value="5">
                <label for="n_edadAnnos">Edad (años) </label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <input class="form-control disabled" name="n_edadMeses" id="n_edadMeses" placeholder="aa" type="text" disabled value="5">
                <label for="n_edadMeses">Meses</label>
            </div>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" name="n_email" id="n_email" placeholder="aa" type="email">
        <label for="n_email">Email</label>
        <div class="invalid-feedback" >Este campo debe tener el formato: correo@gmail.com</div>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" name="n_curp" id="n_curp" placeholder="aa" type="text" data-length="18">
        <label for="n_curp">CURP</label>
        <div class="invalid-feedback" >Formato de curp incorrecto</div>
    </div>
</fieldset>

<!-- DERECHOHABIENTE -->
<fieldset id="parent-section">
    <legend><h5>DATOS DEL O LA DERECHOHABIENTE:</h5></legend>

    <div class="mb-3">
        <label for="d_foto" class="form-label">Fotografía</label>
        <input type="file" class="form-control" name="d_foto" id="d_foto"/>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 mb-3 ">
            <div class="form-floating">
                <input  class="form-control" name="d_apellido1" id="d_apellido1" placeholder="Primer apellido" type="text">
                <label for="d_apellido1">Primer apellido</label>
                <div class="invalid-feedback" >Este campo sólo debe contener letras</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-3">
            <div class="form-floating">
                <input class="form-control" name="d_apellido2" id="d_apellido2" placeholder="aa" type="text">
                <label for="d_apellido2">Segundo Apellido</label>
                <div class="invalid-feedback" >Este campo sólo debe contener letras</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-3">
            <div class="form-floating">
                <input class="form-control" name="d_nombre" id="d_nombre" placeholder="aa" type="text">
                <label for="d_nombre">Nombre(s)</label>
                <div class="invalid-feedback" >Este campo sólo debe contener letras</div>
            </div>
        </div>
    </div>

    <fieldset>
        <legend>Domicilio particular</legend>
            <div class="form-floating mb-3">
                <input  name="d_calle" id="d_calle" placeholder="aa" type="text" class="form-control">
                <label for="d_calle">Calle</label>
                <div class="invalid-feedback" >Este campo sólo debe contener letras</div>
            </div>
            <div class="form-floating mb-3">
                <input  name="d_numExterior" id="d_numExterior" placeholder="aa" type="text" class="form-control">
                <label for="d_numExterior">Número exterior</label>
                <div class="invalid-feedback" >Este campo sólo debe contener numeros</div>
            </div>
            <div class="form-floating mb-3">
                <input  name="d_numInterior" id="d_numInterior" placeholder="aa" type="text" class="form-control">
                <label for="d_numInterior">Número interior</label>
                <div class="invalid-feedback" >Este campo sólo debe contener numeros</div>
            </div>
            <div class="form-floating mb-3">
                <input  name="d_colonia" id="d_colonia" placeholder="aa" type="text"class="form-control">
                <label for="d_colonia">Colonia</label>
                <div class="invalid-feedback" >Este campo sólo debe contener letras</div>
            </div>
            <div class="form-floating mb-3">
                <input  name="d_alacaldia" id="d_alacaldia" placeholder="aa" type="text" class="form-control">
                <label for="d_alacaldia">Alcaldía o municipio</label>
                <div class="invalid-feedback" >Este campo sólo debe contener letras</div>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" name="d_entidad" id="d_entidad">
                    <option value="sel" disabled selected>Seleccione su entidad</option>
                    <option value="Aguascalientes">Aguascalientes</option>
                    <option value="Baja California">Baja California</option>
                    <option value="Baja California Sur">Baja California Sur</option>
                    <option value="Campeche">Campeche</option>
                    <option value="Coahuila">Coahuila</option>
                    <option value="Colima">Colima</option>
                    <option value="Chiapas">Chiapas</option>
                    <option value="Chihuahua">Chihuahua</option>
                    <option value="Ciudad de México">Ciudad de México</option>
                    <option value="Durango">Durango</option>
                    <option value="Guanajuato">Guanajuato</option>
                    <option value="Guerrero">Guerrero</option>
                    <option value="Hidalgo">Hidalgo</option>
                    <option value="Jalisco">Jalisco</option>
                    <option value="Estado de México">Estado de México</option>
                    <option value="Michoacán">Michoacán</option>
                    <option value="Morelos">Morelos</option>
                    <option value="Nayarit">Nayarit</option>
                    <option value="Nuevo León">Nuevo León</option>
                    <option value="Oaxaca">Oaxaca</option>
                    <option value="Puebla">Puebla</option>
                    <option value="Querétaro">Querétaro</option>
                    <option value="Quintana Roo">Quintana Roo</option>
                    <option value="San Luis Potosí">San Luis Potosí</option>
                    <option value="Sinaloa">Sinaloa</option>
                    <option value="Sonora">Sonora</option>
                    <option value="Tabasco">Tabasco</option>
                    <option value="Tamaulipas">Tamaulipas</option>
                    <option value="Tlaxcala">Tlaxcala</option>
                    <option value="Veracruz">Veracruz</option>
                    <option value="Yucatán">Yucatán</option>
                    <option value="Zacatecas">Zacatecas</option>
                    <option value="Nacido en el extranjero">Nacido en el extranjero</option>
                </select>   
                <label for="d_entidad">Entidad Federativa</label>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input  name="d_codigoPostal" id="d_codigoPostal" placeholder="aa" type="number" class="form-control">
                        <label for="d_codigoPostal">Código postal</label>
                        <div class="invalid-feedback" >Este campo sólo debe contener 5 digitos</div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input  name="d_telefonoFijo" id="d_telefonoFijo" placeholder="aa" type="text"class="form-control">
                        <label for="d_telefonoFijo">Telefono fijo</label>
                        <div class="invalid-feedback" >Este campo sólo debe contener 10 digitos</div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input  name="d_telefonoCelular" id="d_telefonoCelular" placeholder="aa" type="text" class="form-control">
                        <label for="d_telefonoCelular">Telefono celular</label>
                        <div class="invalid-feedback" >Este campo sólo debe contener 10 digitos</div>
                    </div>
                </div>
            </div>
    </fieldset>
    <div class="form-floating mb-3">
        <input  name="d_email" id="d_email" placeholder="aa" type="email"class="form-control">
        <label for="d_email">Email</label>
        <div class="invalid-feedback" >Este campo debe tener el formato: correo@gmail.com</div>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" name="d_ocupacion" id="d_ocupacion">
            <option value="sel" disabled selected>Escoja su ocupacion</option>
            <option value="Docente">Docente</option>
            <option value="PAAE">PAAE</option>
            <option value="Funcionario">Funcionario(a)</option>
            <option value="Estudiante">Estudiante</option>
            <option value="Otro">Otro</option>
        </select>
        <label for="d_ocupacion">Ocupacion</label>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" name="d_curp" id="d_curp" placeholder="aa" type="text" data-length="18">
        <label for="d_curp">CURP</label>
        <div class="invalid-feedback" >Formato de curp incorrecto</div>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" name="d_puesto" id="d_puesto" placeholder="aa" type="text"">
        <label for="d_puesto">Nombre de la plaza o puesto</label>
        <div class="invalid-feedback" >Este campo sólo debe contener letras</div>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" name="d_sueldo" id="d_sueldo" placeholder="aa" type="text">
        <label for="d_sueldo">Sueldo mensual</label>
        <div class="invalid-feedback" >Este campo sólo debe contener numeros</div>
    </div>
    
    <div class="form-floating mb-3">
				<input class="form-control" name="d_numEmpleado" id="d_numEmpleado" placeholder="aa" type="text">
				<label for="d_numEmpleado">Número de empleado</label>
        <div class="invalid-feedback" >Este campo sólo debe contener de 5 a 7 numeros</div>
    </div>
    
    <div class="form-floating mb-3">
        <select title="Adscripción" class="form-select" name="d_adscripcion" id="d_adscripcion">
            <option value="sel" disabled selected>Seleccione Adscripcion</option>
            <optgroup label="Nivel Medio Superior">
                <option value="CECyT1" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNMS/CECyT1.png">CECyT 1 Gonzalo Vázquez Vela</option>
                <option value="CECyT2" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNMS/CECyT2.png">CECyT 2 Miguel Bernard</option>
                <option value="CECyT3" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNMS/CECyT3.png">CECyT 3 Estanislao Ramirez Ruíz</option>
                <option value="CECyT4" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNMS/CECyT4.png">CECyT 4 Lázaro Cárdenas</option>
                <option value="CECyT5" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNMS/CECyT5.png">CECyT 5 Benito Juárez</option>
                <option value="CECyT6" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNMS/CECyT6.png">CECyT 6 Miguel Othón de Mendizábal</option>
                <option value="CECyT7" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNMS/CECyT7.png">CECyT 7 Cuauhtémoc</option>
                <option value="CECyT8" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNMS/CECyT8.png">CECyT 8 Narciso Bassols</option>
                <option value="CECyT9" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNMS/CECyT9.png">CECyT 9 Juan de Dios Bátiz</option>
                <option value="CECyT10" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNMS/CECyT10.png">CECyT 10 Carlos Vallejo Márquez</option>
                <option value="CECyT11" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNMS/CECyT11.png">CECyT 11 Wilfrido Massieu</option>
                <option value="CECyT12" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNMS/CECyT12.png">CECyT 12 José María Morelos</option>
                <option value="CECyT13" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNMS/CECyT13.png">CECyT 13 Ricardo Flores Magón</option>
                <option value="CECyT14" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNMS/CECyT14.png">CECyT 14 Luis Enrique Erro</option>
                <option value="CECyT15" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNMS/CECyT15.png">CECyT 15 Diódoro Antúnez Echegaray</option>
                <option value="CECyT16" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNMS/CECyT16.jpg">CECyT 16 Hidalgo</option>
                <option value="CECyT17" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNMS/CECyT17.jpg">CECyT 17 León, Guanajuato</option>
                <option value="CECyT18" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/IPN-Default.png">CECyT 18 Zacatecas</option>
                <option value="CECyT19" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/IPN-Default.png">CECyT 19 Leona Vicario</option>
                <option value="CET1" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNMS/CET1.png">CET 1 Walter Cross Buchanan</option>
            </optgroup>
            <optgroup label="Nivel Superior">
                <option value="CICS-MA" data-icon="	https://www.ipn.mx/assets/files/saes/img/escudosNS/CICS-MA.png">CICS MILPA ALTA</option>
                <option value="CICS-UST" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/CICS-UST.png">CICS UST</option>
                <option value="ENCB" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/ENCB.png">ENCB</option>
                <option value="ENMH" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/ENMH.png">ENMH</option>
                <option value="ESCA-STO" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/ESCA-STO.png">ESCA SANTO TOMAS</option>
                <option value="ESCA-TEP" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/ESCA-TEP.png">ESCA TEPEPAN</option>
                <option value="ESCOM" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/ESCOM.png">ESCOM</option>
                <option value="ESE" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/ESE.png">ESE</option>
                <option value="ESEO" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/ESEO.png">ESEO</option>
                <option value="ESFM" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/ESFM.png">ESFM</option>
                <option value="ESIA-TEC" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/ESIA-TEC.png">ESIA TECAMACHALCO</option>
                <option value="ESIA-TIC" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/ESIA-TIC.png">ESIA TICOMAN</option>
                <option value="ESIA-ZAC" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/ESIA-ZAC.png">ESIA-ZAC</option>
                <option value="ESIME-AZC" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/ESIME-AZC.png">ESIME AZCAPOTZALCO</option>
                <option value="ESIME-CULH" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/ESIME-CULH.png">ESIME CULHUACAN</option>
                <option value="ESIME-TIC" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/ESIME-TIC.png">ESIME TICOMAN</option>
                <option value="ESIME-ZAC" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/ESIME-ZAC.png">ESIME ZACATENCO</option>
                <option value="ESIQIE" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/ESIQIE.png">ESIQIE</option>
                <option value="ESIT" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/ESIT.png">ESIT</option>
                <option value="ESM" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/ESM.png">ESM</option>
                <option value="EST" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/EST.png">EST</option>
                <option value="UPIBI" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/UPIIBI.png">UPIBI</option>
                <option value="UPIICSA" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/UPIICSA.png">UPIICSA</option>
                <option value="UPIIG" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/UPIIG.png">UPIIG</option>
                <option value="UPIITA" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/UPIITA.png">UPIITA</option>
                <option value="UPIIZ" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/UPIIZ.png">UPIIZ</option>
                <option value="ENBA" data-icon="https://www.ipn.mx/assets/files/saes/assets/uploads/enba.png">ENBA</option>
                <option value="UPIIH" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/IPN-Default.png">UPIIH</option>
                <option value="UPIIP" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/upiipLogo-ch.png">UPIIP</option>
                <option value="UPIIC" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/IPN-Default.png">UPIIC</option>
                <option value="UPIEM" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/IPN-Default.png">UPIEM</option>
                <option value="UPIIT" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/IPN-Default.png">UPIIT</option>
            
            </optgroup>
            <optgroup label="Area Central">
                <option value="AC" data-icon="https://www.ipn.mx/assets/files/saes/img/escudosNS/IPN-Default.png">Area Central</option>
            </optgroup>
					</select>
					<label for="d_adscripcion">Adscripcion</label>
    </div>
    <div class="form-floating mb-3">
        <select title="Horario" class="form-select" name="d_horarioTrabajo" id="d_horarioTrabajo">
            <option value="sel" disabled selected>Seleccione horario</option>
            <option value="07:00 a 15:00">07:00 a 15:00</option>
            <option value="08:00 a 15:00">08:00 a 15:00</option>
            <option value="07:00 a 14:00">07:00 a 14:00</option>
        </select>
        <label for="d_horarioTrabajo">Horario de trabajo</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" name="d_extension" id="d_extension" placeholder="aa" type="number" data-length="5">
        <label for="d_extension">Extension</label>
        <div class="invalid-feedback" >Este campo sólo debe contener de 5 numeros</div>
    </div>

    <div class="mb-3">
        <label for="foto_autorizada" class="form-label">Fotografía de la persona autorizada</label>
        <input type="file" class="form-control" name="foto_autorizada" id="foto_autorizada" />
    </div>
</fieldset>

<!-- CONYUGE -->
<fieldset id="spouse-section">
    <legend><h5>DATOS DEL CÓNYUGE (PADRE, MADRE):</h5></legend>
     <!-- Switch -->
    <div class="mb-3">
        <div id="tieneconyuge" name="tieneconyuge" class="form-check form-switch row">
            <label for="c_tieneConyuge">¿Tiene conyuge?</label>
            <!-- <label id="no" class="form-check-label col"> No</label> -->
            <input class="form-check-input col" name="c_tieneConyuge" id="c_tieneConyuge" type="checkbox">
            <label id="no" class="form-check-label col"> No</label>
            <label id="si" class="form-check-label col"> Sí</label>    
        </div>
    </div>

    <div id="fila-conyuge">
        <div class="mb-3">
            <label for="c_foto" class="form-label">Fotografía</label>
            <input class="form-control" type="file" name="c_foto" id="c_foto" />
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 mb-3 ">
                <div class="form-floating">
                    <input class="form-control" name="c_apellido1" id="c_apellido1" placeholder="aa" type="text">
                    <label for="c_apellido1">Primer Apellido</label>
                    <div class="invalid-feedback" >Este campo sólo debe contener letras</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-3 ">
                <div class="form-floating">
                    <input class="form-control" name="c_apellido2" id="c_apellido2" placeholder="aa" type="text">
                    <label for="c_apellido2">Segundo Apellido</label>
                    <div class="invalid-feedback" >Este campo sólo debe contener letras</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-3 ">
                <div class="form-floating">
                    <input class="form-control" name="c_nombre" id="c_nombre" placeholder="aa" type="text">
                    <label for="c_nombre">Nombre(s)</label>
                    <div class="invalid-feedback" >Este campo sólo debe contener letras</div>
                </div>
            </div>
        </div>
        <div class="row">
            <fieldset>
                <legend>Domicilio particular</legend>
                <div class="form-floating mb-3">
                    <input class="form-control" name="c_calle" id="c_calle" placeholder="aa" type="text">
                    <label for="c_calle" title="Ingrese una d_calle válida">Calle</label>
                    <div class="invalid-feedback" >Este campo sólo debe contener letras</div>
                </div>
                <div class="form-floating mb-3">
                    <input name="c_numExterior" id="c_numExterior" placeholder="aa" type="text"class="form-control">
                    <label for="c_numExterior">Número exterior</label>
                    <div class="invalid-feedback" >Este campo sólo debe contener nuemeros</div>
                </div>
                <div class="form-floating mb-3">
                    <input name="c_numInterior" id="c_numInterior" placeholder="aa" type="text"class="form-control">
                    <label for="c_numInterior">Número interior</label>
                    <div class="invalid-feedback" >Este campo sólo debe contener numeros</div>
                </div>
                <div class="form-floating mb-3">
                    <input name="c_colonia" id="c_colonia" placeholder="aa" type="text"class="form-control">
                    <label for="c_colonia">Colonia</label>
                    <div class="invalid-feedback" >Este campo sólo debe contener letras</div>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" name="c_alcaldia" id="c_alcaldia" placeholder="aa" type="text">
                    <label for="c_alcaldia">Alcaldia o municipio</label>
                    <div class="invalid-feedback" >Este campo sólo debe contener letras</div>
                </div>
                <div class="form-floating mb-3">
                    <select title="Entidad Federativa" class="form-select" name="c_entidad"  id="c_entidad" >
                        <option value="sel" disabled selected>Seleccione su entidad</option>
                        <option value="Aguascalientes">Aguascalientes</option>
                        <option value="Baja California">Baja California</option>
                        <option value="Baja California Sur">Baja California Sur</option>
                        <option value="Campeche">Campeche</option>
                        <option value="Coahuila">Coahuila</option>
                        <option value="Colima">Colima</option>
                        <option value="Chiapas">Chiapas</option>
                        <option value="Chihuahua">Chihuahua</option>
                        <option value="Ciudad de México">Ciudad de México</option>
                        <option value="Durango">Durango</option>
                        <option value="Guanajuato">Guanajuato</option>
                        <option value="Guerrero">Guerrero</option>
                        <option value="Hidalgo">Hidalgo</option>
                        <option value="Jalisco">Jalisco</option>
                        <option value="Estado de México">Estado de México</option>
                        <option value="Michoacán">Michoacán</option>
                        <option value="Morelos">Morelos</option>
                        <option value="Nayarit">Nayarit</option>
                        <option value="Nuevo León">Nuevo León</option>
                        <option value="Oaxaca">Oaxaca</option>
                        <option value="Puebla">Puebla</option>
                        <option value="Querétaro">Querétaro</option>
                        <option value="Quintana Roo">Quintana Roo</option>
                        <option value="San Luis Potosí">San Luis Potosí</option>
                        <option value="Sinaloa">Sinaloa</option>
                        <option value="Sonora">Sonora</option>
                        <option value="Tabasco">Tabasco</option>
                        <option value="Tamaulipas">Tamaulipas</option>
                        <option value="Tlaxcala">Tlaxcala</option>
                        <option value="Veracruz">Veracruz</option>
                        <option value="Yucatán">Yucatán</option>
                        <option value="Zacatecas">Zacatecas</option>
                        <option value="Nacido en el extranjero">Nacido en el extranjero</option>
                    </select>
                    <label>Entidad Federativa</label>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input name="c_codigoPostal" id="c_codigoPostal" placeholder="aa" type="text"class="form-control">
                            <label for="c_codigoPostal">Código postal</label>
                            <div class="invalid-feedback" >Este campo sólo debe contener 5 digitos</div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 ">
                        <div class="form-floating">
                            <input name="c_telefonoFijo" id="c_telefonoFijo" placeholder="aa" type="text"class="form-control">
                            <label  for="c_telefonoFijo">Telefono Fijo</label>
                            <div class="invalid-feedback" >Este campo sólo debe contener 10 digitos</div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 ">
                        <div class="form-floating">
                            <input name="c_telefonoCelular" id="c_telefonoCelular" placeholder="aa" type="text" class="form-control">
                            <label  for="c_telefonoCelular">Telefono celular</label>
                            <div class="invalid-feedback" >Este campo sólo debe contener 10 digitos</div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="form-floating mb-3">
            <input name="c_lugarTrabajo" id="c_lugarTrabajo" placeholder="aa" type="text"class="form-control">
            <label  for="c_lugarTrabajo">Lugar de trabajo</label>
            <div class="invalid-feedback" >Este campo sólo debe contener letras</div>
        </div>
        <div class="form-floating mb-3">
            <input name="c_domicilioTrabajo" id="c_domicilioTrabajo" placeholder="aa" type="text"class="form-control">
            <label  for="c_domicilioTrabajo">Domicilio del trabajo</label>
            <div class="invalid-feedback" >Este campo sólo debe contener letras</div>
        </div>
        <div class="form-floating mb-3">
            <input name="c_telefonoTrabajo" id="c_telefonoTrabajo" placeholder="aa" type="text"class="form-control">
            <label  for="c_telefonoTrabajo">Telefono del trabajo</label>
            <div class="invalid-feedback" >Este campo sólo debe contener 10 digitos</div>
        </div>
        <div class="form-floating mb-3">
            <input name="c_extension" id="c_extension" placeholder="aa" type="text"class="form-control">
            <label  for="c_extension" >Extension</label>
            <div class="invalid-feedback" >Este campo sólo debe contener 5 digitos</div>
        </div>
    </div>
   
</fieldset>

<div class="row center">
    <div id="letras">
        <input class="btn btn-danger" type="reset" value="Limpiar">
        <button id="btn-submit" class="btn btn-primary" type="submit" name="action">
            Enviar
        </button>
       
    </div>
</div>
</form>