	<div class="img-student">
		<img alt="Foto de perfil" src="../assets/child.jpg" class="profile-photo">
	</div>
	<div class="info-student">
		<div data-field="name" >{{Primer_Apellido}} {{Segundo_Apellido}} {{Nombre}}</div>
		<div data-field="id" class="text-muted">Folio: {{Folio}}</div>
		<div data-field="group" class="text-muted">Grupo: {{Grupo}}</div>
	</div>
	<div class="controls ms-auto d-flex justify-content-center align-items-center">
		<button type="button" class="btn btn-primary btn-sm" data-action="update" data-key="" >Ver</button>
		<button type="button" class="btn btn-danger btn-sm" data-action="delete" data-key="" >Eliminar</button>
	</div>